{
  "extends": [
    "@dialexa/eslint-config-dialexa/react",
		"plugin:jest/recommended",
		"plugin:react-hooks/recommended"
  ],
  "plugins": ["jest", "react", "react-hooks"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
